# Created by .ignore support plugin (hsz.mobi)
tutorial/celery_message/__pycache__/
tutorial/celery_message/migrations/__pycache__/
tutorial/demoapp/
tutorial/demoapp/__pycache__/
tutorial/pv/__pycache__/
tutorial/pv/migrations/__pycache__/
tutorial/snippets/__pycache__/
tutorial/snippets/migrations/__pycache__/
tutorial/tutorial/__pycache__/
venv/
/.vscode/
/.idea/
!.gitignore
tutorial/appfront/node_modules/
*/__pycache__/
*.pyc
.vscode/
node_modules/
/.idea/workspace.xml
