<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>故障监测</title>
<link rel="stylesheet" type="text/css" href="style/main.css">
</head>

<body>
	<div class="head-left">
		<span class="logo">光伏智能运维系统</span>
	</div>

	<div class="head-right">
	<span class="nav">
		<ul>
			<li><a href="#">系统设置</a></li>
			<li><a href="#">故障告警</a></li>
			<li><a href="#">数据分析</a></li>
			<li><a href="#">运行监测</a></li>
			<li><a href="#">首    页</a></li>
		</ul>
	</span>
	<div class="clearfloat"></div>
</div>

<div class="left">
	<div class="row">
		<div class="row"><span class="name">名称</span></div>
		<div class="row"><span class="capacity">容量</span></div>
		<div class="row"><span class="area">地区</span></div>
		<div class="row"><span class="station">状态</span></div>
	</div>
	<div class="shuru">
		<form>
		<input type="text" name="text" size=35><br>
		</form>
	</div>
	<div class="mulu1">北京光伏电站</div>
	<div class="mulu2">上海光伏电站</div>
</div>

<div class="right">
	<img src="images/u1141.png" alt="image1" width="100%">
	<span class="table">
		<table border="1">
		<tr>
		<th>设备名称</th>
		<th>接入容量(kwp)</th>
		<th>当前功率(w)</th>
		<th>今日发电量(kwh)</th>
		<th>当日等效小时(h)</th>
		<th>当月等效小时</th>
		<th>采集设备名称</th>
		<th>采集设备状态</th>
		<th>数据采集时间</th>
		</tr>
		<tr>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		</tr>
		<tr>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		</tr>
		<tr>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		</tr>
		<tr>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		</tr>
		<tr>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		</tr>
		<tr>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		</tr>
		<tr>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		</tr>
		<tr>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		</tr>
		<tr>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		</tr>
		<tr>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		</tr>
		</table>
		</span>
</div>

</body>
</html>
